
html{
	margin:0;
	padding:0;
	border:0;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
a,address,body,dd,del,details,div,dl,dt,em,h1,h2,h3,h4,h5,h6,header,html,iframe,img,li,nav,p,q,span,ul{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
table{
	margin:0;
	padding:0;
	font-size:100%;
	font:inherit
}
ul{
	list-style:none
}
ul{
	list-style:disc
}
li{
	margin-left:30px;
	display:list-item
}
dd{
	margin:0 0 0 40px
}
table{
	border-collapse:collapse
}
p{
	margin:0 0 1.5em
}
h1{
	margin-bottom:.5em
}
h3{
	margin-bottom:1em
}
b{
	font-weight:700
}
del{
	text-decoration:line-through
}
img{
	color:transparent;
	font-size:0;
	border:0;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic
}
a img{
	border:none
}
:focus{
	outline:0
}
input{
	margin:0;
	font-size:100%;
	vertical-align:middle
}
input{
	overflow:visible;
	line-height:normal
}
input::-moz-focus-inner{
	padding:0;
	border:0
}
input::-moz-focus-inner{
	border:0;
	padding:0
}
a{
	color:#06c;
	text-decoration:none
}
a:hover{
	color:#f90;
	text-decoration:underline
}
html{
	font-size:100%
}
body{
	font-size:75%;
	color:#000;
	font-family:Open Sans,Arial,Helvetica,sans-serif,SimSun,"å®‹ä½“";
	line-height:1.3
}
h1,h3{
	font-weight:400
}
h1{
	font-size:3em;
	line-height:1
}
h3{
	font-size:1.5em;
	line-height:1
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
:after,:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
img{
	vertical-align:middle
}
.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	width:760px
}
.container:after,.container:before{
	content:" ";
	display:table
}
.container:after{
	clear:both
}
@media (min-width:760px){
	.container{
		padding-left:20px;
		padding-right:20px;
		width:auto
}
}
@media (min-width:1020px){
	.container{
		padding-left:15px;
		padding-right:15px;
		width:auto
}
}
@media (min-width:1260px){
	.container{
		padding-left:0;
		padding-right:0;
		margin-left:auto;
		margin-right:auto;
		width:1200px
}
}
.util-clearfix:after{
	visibility:hidden;
	display:block;
	height:0;
	font-size:0;
	content:'\0020';
	clear:both
}
.util-clearfix{
	zoom:1
}
.ui-image-viewer-image-wrap,.ui-image-viewer-thumb-wrap{
	table-layout:fixed;
	display:table!important;
	text-align:center;
	display:block;
	background:#fff
}
.ui-image-viewer-image-frame,.ui-image-viewer-thumb-frame{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size:12px
}
.ui-image-viewer-image-frame img,.ui-image-viewer-thumb-frame img{
	vertical-align:middle
}
.ui-image-viewer{
	position:relative;
	display:block;
	width:350px;
	border:1px solid #e8e8e8;
	background:#fff
}
.ui-image-viewer-thumb-wrap{
	width:350px;
	height:350px;
	font-size:306px;
	z-index:1
}
.ui-magnifier-glass{
	display:block;
	border:1px solid #999;
	text-decoration:none;
	background:#fff;
	opacity:.4
}
.ui-image-viewer-viewport{
	position:absolute;
	border:1px solid #ccc;
	overflow:hidden;
	background:#fff
}
.ui-image-viewer-image-frame img,.ui-image-viewer-thumb-frame img{
	vertical-align:middle
}
.ui-image-viewer-thumb-wrap{
	width:500px;
	height:500px;
	font-size:306px;
	z-index:1
}
.ui-image-viewer{
	width:500px
}
.ui-rating{
	display:inline-block;
	line-height:14px
}
.ui-rating-star{
	display:block;
	float:left;
	width:70px;
	height:14px;
	overflow:hidden;
	
}
.ui-rating-star span{
	display:block;
	width:auto;
	height:100%;
	
}
.ui-balloon{
	position:absolute
}
.ui-balloon .ui-balloon-arrow{
	position:absolute;
	display:block;
	width:10px;
	height:10px;
	overflow:hidden
}
.ui-balloon-tl{
	padding:15px;
	border:1px solid #ccc;
	background:#fff;
	-webkit-box-shadow:3px 3px 4px rgba(0,0,0,.13);
	-moz-box-shadow:3px 3px 4px rgba(0,0,0,.13);
	box-shadow:3px 3px 4px rgba(0,0,0,.13)
}
.ui-balloon-tl .ui-balloon-arrow{
	border:1px solid #ccc;
	background:#fff;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg)
}
.ui-balloon-tl .ui-balloon-arrow{
	left:10px;
	top:-6px;
	border-right:none;
	border-bottom:none
}
:root .ui-balloon-tl .ui-balloon-arrow{
	top:-6px;
	background:#fff
}

p.ui-feedback-addon.ui-feedback-alert{
	border:1px solid #fff1d2;
	background-color:#fffaee;
	background-position:-67px -41px
}
p.ui-feedback-addon.ui-feedback-body{
	font-size:12px;
	color:#333;
	line-height:16px
}
.bp-horizontal-banner{
	margin-top:10px;
	position:relative;
	padding:15px 20px 18px 60px;
	background-color:#f5f5f5
}
.bp-horizontal-banner .buy-protection-info h3{
	margin-bottom:0;
	font-size:22px;
	line-height:30px;
	font-weight:700;
	color:#369
}

.bp-horizontal-banner .buy-protection-info li em{
	color:#333;
	font-weight:700
}
.bp-horizontal-banner .buy-protection-more{
	padding-top:5px;
	text-align:right
}

.ui-tab-nav{
	list-style:none;
	position:relative;
	margin:0;
	padding:0
}
.ui-tab-nav li{
	margin:0;
	padding:0
}
.ui-tab-nav li a{
	display:block;
	cursor:pointer;
	text-decoration:none
}
.ui-tab-nav li.ui-tab-active a{
	cursor:default
}
.ui-tab-nav li a:hover{
	text-decoration:none
}
.ui-tab-body .ui-tab-pane{
	padding:10px;
	display:none
}
.ui-tab-normal .ui-tab-nav:after{
	content:'\0020';
	display:block;
	height:0;
	clear:both
}
.ui-tab-normal .ui-tab-nav{
	zoom:1
}
.ui-tab-normal .ui-tab-nav li{
	float:left;
	display:inline;
	margin-right:5px;
	margin-bottom:-1px
}
.ui-tab-normal .ui-tab-nav li a{
	position:relative
}
.ui-tab-normal .ui-tab-nav{
	border:0 solid #e8e8e8
}
.ui-tab-normal .ui-tab-nav li{
	margin:0 -1px 0 0
}
.ui-tab-normal .ui-tab-nav li a{
	color:#333;
	font-size:13px;
	background-color:#fff;
	border:1px solid #e8e8e8;
	border-bottom:0;
	height:33px;
	line-height:33px;
	padding:0 20px;
	float:left
}
.ui-tab-normal .ui-tab-nav li.ui-tab-active a,.ui-tab-normal .ui-tab-nav li.ui-tab-active a:hover{
	background-color:#999;
	border-color:#999;
	color:#fff
}
.ui-tab-normal .ui-tab-body{
	border:1px solid #999;
	border-width:2px 0 0;
	font-size:13px
}

.ui-image-viewer{
	border:0 none
}
.detail-bd{
	border:1px solid #e9e9e9;
	font-size:13px
}
.detail{
	padding-top:15px;
	background-color:#eee
}
.detail-main{
	float:left;
	width:100%;
	background-color:#fff
}
.detail-main-layout{
	margin-top:10px;
	padding-bottom:20px
}
.detail-main-layout .col-main{
	float:left;
	width:100%
}
.detail-main-layout .main-wrap{
	margin-left:210px;
	position:relative;
	border:1px solid #e9e9e9;
	background-color:#fff;
	min-height:100px
}
.detail-main-layout .main-content{
	padding-bottom:20px
}
.detail-main-layout .col-sub{
	float:left;
	width:200px;
	margin-left:-100%
}
.detail-main-layout .ui-tab-body .ui-tab-pane{
	padding:15px 15px 0 15px
}
.detail-main-layout .ui-tab-normal .ui-tab-nav{
	position:absolute;
	top:0;
	width:100%;
	background-color:#fafafa;
	z-index:9
}
.detail-main-layout .ui-tab-normal .ui-tab-nav li{
	border:1px solid #fafafa;
	border-bottom:0 none;
	margin-right:0
}
.detail-main-layout .ui-tab-normal .ui-tab-nav li a{
	font-size:16px;
	height:44px;
	line-height:44px;
	background-color:#fafafa;
	border:0 none
}
.detail-main-layout .ui-tab-normal .ui-tab-nav li.ui-tab-active a,.detail-main-layout .ui-tab-normal .ui-tab-nav li.ui-tab-active a:hover{
	position:relative;
	color:#333;
	top:1px;
	height:46px;
	background-color:#fff
}
.detail-main-layout .ui-tab-normal .ui-tab-body{
	border-top:1px solid #e9e9e9;
	padding-bottom:15px
}
.detail-main-layout .ui-tab-normal{
	position:relative;
	padding-top:45px
}
.detail-main-layout .ui-tab-normal .ui-tab-nav li:first-child{
	border-left:0 none
}
.detail-main-layout .ui-tab-normal .ui-tab-nav li.ui-tab-active{
	border-color:#e9e9e9;
	margin-top:-1px;
	height:46px
}
.detail-wrap{
	margin-left:500px;
	min-height:550px;
	padding-bottom:20px;
	border-left:1px solid #e9e9e9
}
.detail-gallery{
	position:relative;
	float:left;
	width:500px;
	margin-left:-100%;
	z-index:12
}
.detail-gallery-main{
	position:relative;
	padding-left:0;
	z-index:6
}
.detail-image-dynamic .detail-gallery{
	width:568px
}
.detail-image-dynamic .detail-gallery-main{
	padding-left:68px
}
.detail-image-dynamic .detail-wrap{
	margin-left:568px
}
.detail-sub-wrap .ui-box{
	border:1px solid #e9e9e9;
	background-color:#fff;
	margin-bottom:20px
}
.detail-sub-wrap .ui-box-title{
	padding:10px 0 10px 10px;
	border-bottom:1px solid #e9e9e9;
	font-size:16px;
	line-height:18px;
	background-color:#fafafa
}
.report-item-link{
	position:absolute;
	top:14px;
	right:20px;
	z-index:10;
	color:#333;
	font-size:14px
}
@media (max-width:1019px){
	.detail-main-layout .col-sub{
		display:none
}
	.detail-main-layout .main-wrap{
		margin-left:0
}
	.report-item-link{
		display:none
}
}
.image-thumb-list{
	position:absolute;
	left:0;
	top:0;
	width:68px;
	padding-top:10px
}
.image-thumb-list li{
	list-style:none;
	margin:0 0 10px 0;
	cursor:pointer
}
.image-thumb-list .img-thumb-item{
	width:50px;
	height:50px;
	text-align:center;
	overflow:hidden;
	margin:0 auto;
	border:1px solid #e9e9e9;
	display:block;
	border-radius:2px
}
.image-thumb-list .img-thumb-item img{
	max-width:48px;
	max-height:48px;
	display:inline-block
}
.image-thumb-list li:hover .img-thumb-item{
	border:3px solid #f90;
	border-radius:4px
}
.image-thumb-list li:hover .img-thumb-item img{
	max-width:44px;
	max-height:44px
}
.image-canvas-caption{
	line-height:30px;
	color:#999;
	text-align:center;
	padding-bottom:20px
}

.product-name{
	font-size:16px;
	line-height:22px;
	padding:10px 20px 0;
	margin-bottom:0
}
.product-star-order{
	line-height:20px;
	margin:5px 0 0 20px;
	zoom:1;
	overflow:hidden
}
.product-star-order:after{
	visibility:hidden;
	display:block;
	height:0;
	font-size:0;
	content:'\0020';
	clear:both
}
.product-star-order .product-customer-reviews{
	float:left;
	position:relative;
	margin-right:11px;
	padding-right:25px;
	color:#999;
	cursor:pointer
}

.product-star-order .ui-rating{
	vertical-align:top;
	margin-top:2px
}
.product-star-order .ui-rating-star{
	text-indent:-999em
}
.product-star-order .percent-num{
	font-size:16px;
	color:#f90;
	font-weight:700
}
.product-star-order .order-num{
	float:left;
	margin:1px 0 0 0;
	cursor:pointer
}
.product-star-order .order-num:hover,.product-star-order .product-customer-reviews:hover{
	color:#f60
}
.product-star-order .order-num:before{
	content:'';
	display:inline-block;
	vertical-align:top;
	margin:3px 10px 0 0;
	font-size:0;
	line-height:0;
	width:1px;
	background-color:#eae9ea;
	height:16px;
	overflow:hidden
}
.product-price-area{
	border-top:1px solid #e9e9e9;
	margin:8px 20px 0
}
.product-price{
	padding:10px 0
}
.p-price-detail{
	position:relative;
	padding-left:80px
}
.p-price-detail .p-price-title{
	position:absolute;
	left:0;
	top:2px;
	width:75px;
	color:#333;
	line-height:14px
}
.p-price-detail .p-price,.p-price-detail .p-symbol{
	font-size:24px;
	font-weight:700;
	font-family:arial;
	color:#f60
}
.p-price-detail .p-splitter,.p-price-detail .p-unit{
	display:inline-block;
	font-size:14px;
	color:#999
}
.p-price-detail .p-splitter{
	margin:0 3px
}
.p-price-detail .p-eventtime-left{
	display:inline-block;
	line-height:18px;
	margin-left:5px;
	padding:0 8px;
	border:1px solid #ffc7a0;
	color:#ed5f00;
	border-radius:8px
}
.p-price-detail .p-discount-rate{
	display:inline-block;
	margin:5px 0 0 5px;
	background-color:#e62e04;
	color:#fff;
	line-height:20px;
	padding:0 5px
}
.p-price-detail .p-price-content{
	display:inline-block
}
.p-del-price-detail{
	position:relative;
	color:#999;
	padding:5px 0 5px 80px
}
.p-del-price-detail .p-del-price-title{
	position:absolute;
	left:0;
	top:5px;
	width:75px;
	color:#333;
	line-height:14px
}
.p-price-extra-info{
	padding:5px 0 0 80px;
	zoom:1
}
.p-price-extra-info:after{
	visibility:hidden;
	display:block;
	height:0;
	font-size:0;
	content:'\0020';
	clear:both
}
.product-attribute-main{
	padding:10px 0;
	background-color:#fafafa
}
.product-attribute-main .msg-error{
	display:none;
	padding:4px 10px;
	margin-top:5px;
	background-color:#fff9eb;
	border:1px solid #f7dd89
}
.p-property-item{
	padding:5px 5px 5px 20px
}
.p-property-item .p-item-title{
	width:75px;
	padding-top:7px;
	float:left;
	text-align:left;
	line-height:14px;
	word-wrap:break-word
}
.p-property-item .p-item-main{
	margin-left:80px;
	min-height:30px
}
.sku-attr-list li{
	float:left;
	list-style:none;
	margin:0 10px 3px 0
}
.sku-attr-list li a{
	float:left;
	border:1px solid #e9e9e9;
	line-height:28px;
	height:30px;
	padding:0 10px;
	color:#333;
	border-radius:3px;
	background-color:#fff;
	text-align:center
}
.sku-attr-list li:hover a{
	border:3px solid #f90;
	border-radius:4px;
	line-height:24px;
	padding:0 8px;
	text-decoration:none
}
.sku-attr-list li.item-sku-image a{
	width:40px;
	height:40px;
	padding:0;
	overflow:hidden;
	text-align:center
}
.sku-attr-list li.item-sku-image img{
	max-width:38px;
	max-height:38px;
	display:inline-block
}
.sku-attr-list li.item-sku-image:hover a img{
	max-width:34px;
	max-height:34px
}
.p-quantity-info .p-item-title{
	padding-top:7px
}
.p-logistics-info .p-item-main{
	padding-top:7px
}
.p-logistics-detail{
	font-weight:700;
	font-size:14px;
	padding-bottom:4px;
	display:none
}
.cannot-deliver-tips{
	margin:7px 20px 0 0;
	display:none
}
.p-fixed-freeshipping-tip{
	color:#151515;
	line-height:25px
}
.p-quantity-modified{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #ccc;
	border-radius:2px;
	height:30px;
	padding:0 25px;
	background-color:#fff;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none
}
.p-quantity-modified input{
	border:0 none;
	display:block;
	width:60px;
	line-height:14px;
	margin-top:6px;
	text-align:center
}
.p-quantity-modified i{
	position:absolute;
	top:4px;
	display:block;
	width:20px;
	height:20px;
	overflow:hidden;
	
	cursor:pointer
}
.p-quantity-modified i.p-quantity-decrease{
	left:3px
}
.p-quantity-modified i.p-quantity-increase{
	background-position:-145px -45px;
	right:3px
}
.p-quantity-info .p-unit{
	margin-left:5px
}
.p-quantity-info .p-available-stock,.p-quantity-info .p-unit{
	line-height:30px;
	display:inline-block;
	vertical-align:middle;
	color:#999
}
.p-quantity-info .p-available-stock{
	display:none
}
.p-total-price .p-item-main{
	padding-top:4px
}
.p-total-price .p-price-tips{
	color:#999;
	display:none;
	padding-top:3px
}
.p-total-price .p-total-price-info{
	display:none
}
.p-total-price .total-price-show{
	font-size:18px;
	font-weight:700;
	margin-right:5px
}
.p-total-price .multi-currency-total-price{
	display:none;
	color:#999
}
.hide-total-price .p-item-title{
	display:none!important
}
.hide-total-price .p-total-price-info{
	display:none!important
}
.hide-total-price .p-price-tips{
	display:none!important
}
.hide-total-price .p-item-main{
	min-height:auto!important
}
.product-action-block{
	padding:15px 0;
	margin:0 20px 10px;
	border-bottom:1px solid #eee
}
.product-action-main{
	display:block
}
.product-action-main a{
	display:inline-block;
	vertical-align:top;
	line-height:44px;
	height:44px;
	border-radius:3px;
	font-size:18px
}
.product-action-main .buy-now-btn{
	position:relative;
	line-height:42px;
	border:1px solid #fd9729;
	color:#fff;
	background-color:#fd9729;
	padding:0 35px;
	margin:0 10px 5px 0
}
.product-action-main .add-cart-btn{
	background-color:#ff5400;
	color:#fff;
	padding:0 30px;
	margin:0 5px 5px 0
}

.product-action-main a:hover{
	text-decoration:none
}
.add-wishlist-action{
	display:block;
	padding-top:10px
}
.collectioned-btn{
	height:44px;
	display:inline-block;
	line-height:42px;
	border:1px solid #e8e8e8;
	color:#000;
	border-radius:4px;
	padding:0 14px;
	background:#fff;
	font-size:13px
}
.collectioned-btn span{
	margin-left:6px
}


.add-wishlist-action .wishlist-num{
	color:#999
}
.add-wishlist-action a{
	color:#333
}
.add-wishlist-action a:hover,.add-wishlist-action a:hover span{
	color:#e62e04
}
.add-wishlist-action a:after,.add-wishlist-action a:before{
	content:'';
	display:inline-block;
	width:20px;
	height:16px;
	vertical-align:top;
	margin-right:5px;
	overflow:hidden;
	
}
.add-wishlist-action a:after{
	background-position:-50px -100px;
	margin-top:2px;
	margin-left:5px
}

.p-new-user-promotion{
	display:none;
	padding-top:0
}
.p-new-user-promotion .p-item-main{
	padding-top:8px;
	margin-left:95px
}
.p-new-user-promotion .p-item-title{
	line-height:14px;
	color:#999;
	font-size:13px;
	width:90px
}
.p-new-user-promotion .s-promotion-item{
	position:relative;
	float:left;
	margin:0 10px 5px 0
}
.p-new-user-promotion .promotion-title{
	position:relative;
	line-height:28px;
	float:left;
	height:30px;
	overflow:hidden;
	padding:0 15px 0 15px;
	border:1px dashed #e62e04;
	border-left:5px solid #e62e04;
	border-right:0
}
.p-new-user-promotion .promotion-action{
	position:relative;
	line-height:28px;
	float:left;
	height:30px;
	overflow:hidden;
	padding:0 15px 0 15px;
	border:1px solid #e82a00;
	background:#e62e04;
	cursor:pointer;
	font-size:14px;
	color:#fff;
	letter-spacing:-.54px
}
.p-new-user-promotion .acquire-result-succ{
	font-weight:700
}
.p-new-user-promotion .acquire-result-succ img{
	width:18px;
	height:14px;
	margin-right:7px
}
.p-new-user-promotion .acquire-result-fail{
	line-height:14px;
	color:#999;
	font-size:13px
}
.p-new-user-promotion .acquire-result-fail img{
	width:16px;
	height:16px;
	margin-right:6px
}
.p-store-promotion{
	display:none;
	padding-top:0
}
.p-store-promotion .p-item-main{
	padding-top:8px;
	margin-left:95px
}
.p-store-promotion .p-item-title{
	line-height:14px;
	color:#999;
	font-size:13px;
	width:90px
}
.p-payment-type{
	display:none
}
.p-payment-type .p-item-title{
	color:#999;
	line-height:18px;
	padding-top:3px
}
.p-payment-type .p-item-main{
	padding-top:3px
}
.payment-type-list{
	float:left
}
.p-property-item.p-payment-type .p-item-title{
	width:90px
}
.p-property-item.p-payment-type .p-item-main{
	margin-left:95px
}
.p-payment-type li.pt-more-link{
	float:left;
	width:auto;
	background:0 0
}
.p-payment-type li.pt-more-link a{
	color:#666;
	position:relative;
	float:left;
	padding-right:14px
}
.p-payment-type li.pt-more-link a:hover{
	color:#f60
}

.seller-promise-list dl{
	padding:5px 0 5px 20px
}
.seller-promise-list dt{
	width:90px;
	padding-top:2px;
	float:left;
	text-align:left;
	line-height:14px;
	color:#999
}
.seller-promise-list dd{
	margin-left:95px;
	min-height:30px;
	padding-right:15px
}
.seller-promise-list dl dd i{
	font-weight:700;
	font-style:normal
}
.seller-promise-list dl a{
	color:#666
}
.seller-promise-list dl .s-serve{
	position:relative;
	float:left;
	padding:0 35px 0 20px
}

.seller-promise-list dl .s-serve a em{
	display:block;
	margin-bottom:2px
}
.seller-promise-list dl .sp-1:before{
	background-position:-200px -250px
}
.seller-promise-list dl .sp-5:before{
	background-position:-150px -250px
}
.seller-promise-list dl .s-serve a:focus{
	outline:0
}
.seller-promise-list dl .s-serve a:hover{
	text-decoration:none
}
.seller-promise-list dl .s-serve a:hover em{
	text-decoration:none
}
.seller-promise-list dl .sp-brief{
	font-weight:700;
	color:#000
}
.seller-promise-list dl .s-serve a.ui-arrow-right-after{
	white-space:nowrap
}
.seller-promise-list dl .s-serve a.ui-arrow-right-after:hover{
	text-decoration:underline
}
.seller-promise-list .ui-arrow-right-after:after{
	content:'';
	width:0;
	height:0;
	overflow:hidden;
	display:inline-block;
	border:4px transparent solid;
	vertical-align:middle;
	border-right-width:0;
	border-left-color:#333;
	margin-left:5px;
	margin-bottom:2px
}
.seller-promise-list .ui-balloon{
	display:none;
	width:230px;
	z-index:10;
	top:42px;
	padding:10px;
	font-size:12px
}
.s-seller-guarantees a{
	display:block;
	position:relative
}
.s-seller-guarantees a:hover .ui-balloon{
	display:block
}
.buyer-protection-banner{
	display:none
}
.buyer-protection-banner .bp-horizontal-banner{
	background-color:#fff;
	margin-top:0;
	margin-left:5px;
	padding-top:0
}
.buyer-protection-banner .bp-horizontal-banner .bp-icon{
	top:5px
}
.bp-horizontal-banner .buy-protection-info li{
	background-position:-88px -145px
}
.bp-horizontal-banner .buy-protection-more a{
	background-position:right -95px
}
.store-info-wrap{
	position:relative;
	border:1px solid #e9e9e9;
	background-color:#fafafa;
	margin-bottom:15px;
	font-size:13px;
	line-height:15px
}
.store-score-main{
	background-color:#fff;
	padding:10px 5px 10px 13px;
	margin:0 10px 10px;
	border:1px solid #e9e9e9
}
.store-intro{
	padding:15px 5px 15px 15px
}
.store-intro dt{
	margin-bottom:10px
}
.store-intro dd{
	margin-left:0
}
.store-intro dd.store-name{
	margin-bottom:5px
}
.store-intro dd.store-address{
	color:#999
}
.seller-score-feedback a{
	color:#333
}
.seller-score-feedback a:hover{
	text-decoration:none;
	color:#f60
}
.seller-score-feedback{
	padding:5px 0
}
.seller-score-feedback span{
	font-weight:700;
	margin-right:3px
}
.seller-dsr{
	position:relative;
	min-height:16px;
	display:none
}
.dsr-trigger{
	position:relative;
	display:inline-block;
	padding-right:13px;
	color:#999
}
.dsr-trigger:after{
	content:'';
	position:absolute;
	top:50%;
	margin-top:-3px;
	right:4px;
	width:8px;
	height:5px;
	overflow:hidden;
	
}
.dsr-trigger:hover:after{
	background-position:0 -100px
}
.store-operate-main{
	height:41px;
	border-top:1px solid #e9e9e9;
	background-color:#fff
}
.store-operate-main a{
	display:block;
	width:50%;
	float:left;
	height:40px;
	overflow:hidden;
	color:#333;
	text-align:center
}
.store-operate-main a.go-store-link{
	border-right:1px solid #e9e9e9
}
.store-operate-main a:before{
	content:' ';
	display:inline-block;
	width:0;
	height:100%;
	font-size:0;
	overflow:hidden;
	vertical-align:middle
}
.store-operate-main span{
	display:inline-block;
	vertical-align:middle
}
.detail-sub-wrap .contact-seller-email{
	margin-bottom:0;
	border-bottom:0 none
}
.contact-seller-email .ui-box-body{
	padding:10px
}
.contact-seller-email a.send-mail-btn{
	color:#f90;
	font-size:13px;
	display:inline-block
}

.pnl-packaging-main .ui-box-title,.product-property-main .ui-box-title{
	background-color:#e9e9e9;
	padding:8px 0 8px 15px;
	font-size:14px
}
.product-property-list{
	padding:10px 0
}
.product-property-list li{
	position:relative;
	width:50%;
	float:left;
	line-height:16px;
	padding:5px 0;
	list-style:none;
	margin-left:0
}
.product-property-list li .propery-title{
	float:left;
	color:#999;
	margin-right:3px
}
.product-property-list li .propery-des{
	float:left;
	max-width:300px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.product-packaging-list{
	padding:10px 0
}
.product-packaging-list li{
	position:relative;
	width:50%;
	float:left;
	line-height:16px;
	padding:5px 0;
	list-style:none;
	margin-left:0
}
.product-packaging-list li .packaging-title{
	color:#999
}
.recommend-products-p4p{
	margin-top:-1px;
	padding-top:10px;
	border-top:1px solid #e9e9e9
}
.transaction-feedback-main .loading32{
	height:400px
}
.seller-guarantees-main .loading32{
	min-height:200px
}
.shipping-info-main{
	font-size:13px
}
.shipping-info-main .ui-box-title{
	background-color:#e9e9e9;
	padding:8px 0 8px 15px;
	font-size:14px
}
.shipping-info-main .caption-title{
	padding:10px 0
}
.shipping-info-main .c-desc-title{
	float:left;
	padding:5px 10px 0 0;
	line-height:14px
}
.shipping-info-main .txt-quantity-input{
	float:left;
	width:56px;
	margin-right:15px;
	padding:5px;
	border:1px solid #ccc
}
.shipping-info-main .c-pnl-selector{
	float:left;
	width:440px
}
.shipping-table-wrap{
	padding:15px 0
}
.shipping-table-wrap .loading32{
	min-height:150px
}
.sku-attr-list li.sizing-info-item{
	white-space:nowrap
}
.sku-attr-list li.sizing-info-item a{
	position:relative;
	float:none;
	margin-left:10px;
	padding-left:26px;
	padding-right:8px;
	border:0 none;
	line-height:30px;
	background-color:transparent
}
.sku-attr-list li.sizing-info-item a:before{
	content:'';
	position:absolute;
	left:0;
	top:5px;
	width:22px;
	height:9px;
	display:block;
	
}
.sku-attr-list li.sizing-info-item a:hover{
	color:#f60;
	text-decoration:underline
}
.product-star-balloon{
	display:none;
	position:absolute;
	z-index:4;
	padding:10px 0 0 0
}
.product-star-balloon .rate-list{
	width:350px;
	margin-right:15px
}
.product-star-balloon .rate-list li{
	list-style:none;
	min-height:20px;
	margin:0 0 10px 0;
	font-size:13px;
	zoom:1
}
.product-star-balloon .rate-list li:after{
	visibility:hidden;
	display:block;
	height:0;
	font-size:0;
	content:'\0020';
	clear:both
}
.product-star-balloon .rate-list span{
	float:left;
	vertical-align:middle
}
.product-star-balloon .rate-list .r-title{
	width:75px;
	text-align:right;
	padding-right:5px;
	overflow:hidden
}
.product-star-balloon .rate-list .r-graph{
	width:200px;
	margin:10px 10px 0 0;
	height:3px;
	background-color:#e9e9e9
}
.product-star-balloon .rate-list .r-graph b{
	background-color:#f90;
	display:block;
	height:3px;
	display:block
}
.product-star-balloon .rate-list .r-num{
	width:50px;
	height:20px;
	text-align:center;
	line-height:18px;
	border-radius:3px;
	border:1px solid #ccc;
	cursor:pointer
}
.product-star-balloon .rate-list .r-num:hover{
	border-color:#f90
}
.product-star-balloon .feedback-see-all{
	cursor:pointer;
	text-align:center;
	border-top:1px solid #ccc;
	padding:8px 0;
	font-size:14px;
	background-color:#f5f5f5
}
.product-star-balloon .feedback-see-all:hover{
	color:#f60
}
.p-property-seller-guarantee{
	display:none
}
.p-property-seller-guarantee .p-item-title{
	padding-top:2px
}
.guarantee-attr-list{
	display:inline-block;
	vertical-align:top
}
.payment-list-main .ui-box-title{
	background-color:#e9e9e9;
	padding:8px 0 8px 15px;
	font-size:14px
}
.payment-list-main .ui-box-body{
	padding:10px 0
}
.payment-list-main .payment-title{
	margin-bottom:10px
}
.payment-logo-method li,.payment-type-list li{
	float:left;
	
	width:68px;
	height:25px;
	overflow:hidden;
	margin:0 10px 8px 0;
	list-style:none
}
.payment-logo-method li.payment-maestro,.payment-type-list li.pt-maestro{
	background-position:-100px 0;
	width:34px
}
.payment-logo-method li.payment-sofortbanking{
	background-position:-150px 0;
	width:62px
}
.payment-logo-method li.payment-mastercard,.payment-type-list li.pt-mastercard{
	background-position:-250px 0;
	width:34px
}
.payment-logo-method li.payment-tef{
	background-position:-350px 0;
	width:63px
}
.payment-logo-method li.payment-casein{
	background-position:0 -50px;
	width:82px
}
.payment-logo-method li.payment-ideal{
	background-position:-150px -150px;
	width:24px
}
.payment-logo-method li.payment-mp{
	background-position:0 -150px;
	width:78px
}
.payment-logo-method li.payment-balance{
	background-position:-300px -150px;
	width:91px
}
.payment-logo-method li.payment-p24{
	background-position:-200px -150px;
	width:60px
}
.payment-logo-method li.payment-qiwi{
	background-position:-400px -100px;
	width:55px
}
.payment-logo-method li.payment-yandex{
	background-position:-20px -99px;
	width:32px
}
.payment-logo-method li.payment-visa,.payment-type-list li.pt-visa{
	background-position:-200px -97px;
	width:50px
}
.payment-logo-method li.payment-webmoney{
	background-position:0 -200px;
	width:80px
}
.payment-logo-method li.payment-tt,.payment-type-list li.pt-tt{
	background-position:-150px -50px;
	width:65px
}
.payment-logo-method li.payment-boleto{
	background-position:-250px -50px;
	width:36px
}
.payment-logo-method li.payment-doku{
	background-position:-300px -100px;
	width:58px
}
.payment-logo-method li.payment-giropay{
	background-position:-100px -100px;
	width:46px
}
.payment-logo-method li.payment-amex,.payment-type-list li.pt-amex{
	background-position:-450px 0;
	width:26px
}
@media (max-width:1019px){
	.product-property-list li .propery-des{
		max-width:252px
}
	.p-price-detail .p-price,.p-price-detail .p-symbol{
		font-size:24px
}
	.product-action-main a.buy-now-btn{
		padding:0 30px
}
	.product-action-main a.add-cart-btn{
		padding:0 15px
}
	.p-quantity-modified input{
		width:42px
}
	.image-canvas-caption{
		display:none
}
	.detail-image-dynamic .detail-gallery-main{
		padding-left:0
}
	.image-thumb-list{
		padding:10px 0 0 10px;
		width:auto;
		position:static;
		left:auto;
		top:auto
}
	.image-thumb-list li{
		float:left;
		margin-right:5px
}
}
.buynow-custom{
	margin-left:80px
}
.ui-balloon.ui-balloon-tl{
	z-index:1000!important
}
