

#mainimgdiv{
    width: 100%;
    height: 500px;
    background-color: white;
    float: left;
}
#mainimg{
    max-width: 45%;
    max-height: 400px;
  
  float: left;
    background-color: white
    
}
#bodypart{
    width: 70%;
    margin-right: 30%;
    background-color: white;
    float: left;
    
}
.marissue{
    margin-left: 42%;
}
#rev{
    width : 80px;
    height: 20px;
    margin-left: 2%;
    margin-top: -2%;
}
.arr{
    width: 20px;
    height: 10px;
    
}
#flash{
    width: 55%;
    margin-left:2%;
    height: 70px;

}
.pr{
    display: inline;
    margin-left: 2%;
}
#po{
    margin-left: 3%;
}
#bu{
    width: 50px;
    height: 20px;
    background-color: red;
}
#time{
    border: 2px solid orange ;
    border-radius: 5px;
    background-color: white;
}
#q{
    margin-top: 5%;
    
}
#other{
    width: 60%;
    height: 170px;
    background-color:#F8F8F8;
    margin-left: 40%;
    
}
#choice1{
    width: 30px;
    height: 30px;
    margin-left: 3%;
    
}

#choice2{
    width: 30px;
    height: 30px;
    margin-left: 3%;
    
}
#choice3{
    width: 30px;
    height: 30px;
    margin-left: 3%;
   
   
}
#o{
    margin-left: 2%;
}
#r{
    margin-left: 2%;
    
}
#S,#M,#L,#XL,#XXL,#XXXL{
    background-color: white;
}
#XL,#XXL,#XXXL{
    margin-left: 1%;
}
#t{
    margin-left: 2%;
    
}
#decreement{
    text-align: left;
}
#increement{
    text-align: right;
}
#addbutton{
    background-color: white;

    width: 100%;
    height: 80px;
}
.cho{
    width: 3%;
    margin-left: 1.5%;
    height: 30px;
}
#first{
    margin-left: 0%;
}
#buttonspan{
    margin-left: 30%;

}
#addto{
margin-left: 2%;
color: white;
background: orangered;
padding: 8px;
width: 110px;
}
#buynow{
    color: white;
    padding: 8px;
width: 110px;
background-color:orange;
}
#left{
    width: 25%;
    height: 800px;
    background-color: #E8E8E8;
}
#top{
    width: 80%;
    margin: 0 auto;
    height: 240px;
    background-color: #F8F8F8;
}
#mai{
    width: 100%;
    height: 700px;
    background-color: white;
}
#medium{
    width: 80%;
    margin: 0 auto;
    height: 270px;
    background-color: #F8F8F8;
    margin-top: 4%;
}
#bottom{
    width: 80%;
    margin: 0 auto;
    height: 250px;
    margin-top: 9%;
    background-color: whitesmoke;
}
#batch{
    width: 13%;
    height: 30px;
    margin-left: 40%;
}

#sold,#china{
    display: inline;
    
}
#topmid{
    margin: 10% auto;
    background-color: white;
    width: 80%;
    height: 60px;
    font-size:13px;

}
#contact{
    background-color: whitesmoke;
    padding: 10px;
    
}
#visit,#follow{
    width: 50%;
    height: 50px;
    padding: 10px;
    background-color: whitesmoke;
    outline: none;
    border-radius: 5px;
}
#contactnow{
    background-color: white;
    display: inline;
    padding-top: 20px;
    padding-right: 63px;
    padding-left: 10px;

    margin-left: -2%;
    

}
#email{
    width: 20%;
    height: 15%;
    
}
#sellers{
    padding: 10px;
    padding-top: 0px;
    display: inline;
}
#viewmore{
    float: right;
    margin-top: -11%;
    
}
#topsell{
    padding: 10px;
     background-color: #F8F8F8;
}
#topse{
    width: 50%;
    margin: 0 25%;
}
#topprice{
    padding: 10px;
}
#star{
    padding: 10px;
    margin-top: -5%;
}
#right{
background-color: whitesmoke;
width: 75%;
height: 800px;
float: right;
margin-top: -800px;
}
.topnav {
    background-color: #F8F8F8;
    overflow: hidden;
    
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 15px;
  }
  #specifics{
      background-color: #E8E8E8;
      padding: 10px;
  }
  #remo{
      width: 100%;
      height: 670px;
      background-color: white;
  }
  #remoleft{
      width: 50%;
      height: 300px;
      float: left;
  }
  #remoright{
    width: 50%;
    height: 300px;
    float: left;
  }
  table{
      padding: 10px;
      text-align: left;
  }
  table th {
      width: 150px;
      padding: 5px;
  }
  #last{
      width: 100%;
      height: 300px;
      margin-top: 60px;
  }
@media only screen and (max-width : 380px){
    #bodypart{
        width: 100%;
    }
    body{
        font-size: 12px;
    }
    
    #details{
        font-size: 12px;
       
    }
    #poi{
        font-size: 10px;
    }
        
    #flash{
        width: 150px;
        height: 35px;
    }
    #other{
       margin-left: -1%;
       width: 90%;
       height: 300px;
    
    }
    #addbutton{
        margin-top: -30%;
        margin-left: 10%;
       margin-left: -30%;
        
        
    }
     
    #left{
        width: 40%;

    }
    #right{
        width: 60%;
    }
    #top{
        width: 100%;
        font-size: 10px;
    }
#visit,#follow{
    padding: none;
    font-size: 10px;
    width:60px;
    height: 40px;

}
#follow{
    margin-top: 5%;
}
.topnav a {
    float: none;
    color: black;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }
  #remoleft{
      float: none;
      font-size: 10px;
  }
  #remoright{
      margin-top: 30%;
      font-size: 10px;
  }
  #contact{
     font-size: 10px;
  }
  #email{
      display: none;
  }
  #contactnow{
     visibility: hidden;
  }
  #sellers{
      font-size: 10px;
      display: block;
      margin-top: -40%;

  }
  ul{
      font-size: 10px;
      margin-left: -10%;
  }
  #medium{
      height: 200px;
  }
  #bottom{
      height: 330px;
      font-size: 10px;

  }
  #left{
     height: 800px;
  }
  #rev{
      width: 40%;
      height: 20px;
  }
  #last{
     width: 370px;
     margin-left : -67%;
     margin-top: -10%;
  }

}
